<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <div th:replace="fragments/bootstrap :: bootstrap"></div>

</head>
<body>
<h1> Recettes</h1>
<table align="center" class="table col-lg-8 table-striped table-dark">
    <thead class="thead-dark">
    <th> ID </th>
    <th> Description </th>
    </thead>
    <tbody>

    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}">id</td>
        <td th:text="${recipe.description}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>